### 2 python_basics 실행 결과

In [9]:
# Numbers 
x = 1
y = 2.8
z = 1j
print(float(x))
print(int(y))
print(complex(x))

1.0
2
(1+0j)

In [3]:
import random
print(random.randrange(1,10))

1

In [10]:
x = int(1)
y = int(2.8)
z = int("3")
x,y,z

(1, 2, 3)

In [11]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
x,y,z,w

(1.0, 2.8, 3.0, 4.2)

In [13]:
x = str("s1")
y = str(2)
z = str(3.0)
x,y,z

('s1', '2', '3.0')

In [33]:
a = "Hello, World!"
print(a[1], len(a))
result = a[2:5], a[:5], a[2:], a[::5], a[2::], a[-5:-2] ;print(result)
a[-2:-5], a[-2:-5:-1], a[-2:-5:-2]

e 13
('llo', 'Hello', 'llo, World!', 'H,l', 'llo, World!', 'orl')

('', 'dlr', 'dr')

In [16]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [41]:
print(a.upper()); print(a.lower())

HELLO, WORLD!
hello, world!

In [37]:
b = "  Hello, World! "
print(b.strip())

Hello, World!

In [40]:
print(a.replace("H", "J")); print(a.split(","))

Jello, World!
['Hello', ' World!']

In [42]:
age = 36
txt = "My name is John, I am " + age # string + int error
print(txt)

TypeError: can only concatenate str (not "int") to str

In [54]:
age = 36
my_age = 22.75
female = True
txt = "My name is John, I am {}"
print(txt.format(age))
my_txt = "My name is John, I am {} and {}"
print(my_txt.format(my_age, female))

My name is John, I am 36
My name is John, I am 22.75 and True

In [75]:
thislist = list(("apple", "banana", "cherry"))
thislist

['apple', 'banana', 'cherry']

In [56]:
thislist = list("apple", "banana", "cherry") # 괄호 하나면 에러

TypeError: list expected at most 1 argument, got 3

In [79]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
thislist

['apple', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
thislist

['apple', 'banana']

In [4]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
thislist

['banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
del thislist
thislist

NameError: name 'thislist' is not defined

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist

[]

In [16]:
thistuple = ("apple", "banana", "cherry")
y = ("orange") # , 안 찍으면 튜플 아니어서 오류남
# y = "orange" # tuple과 str은 더하기 불가 오류
thistuple += y

TypeError: can only concatenate tuple (not "str") to tuple

In [11]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
thistuple

('apple', 'banana', 'cherry', 'orange')

In [30]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
y += thistuple
y

('orange', 'apple', 'banana', 'cherry')

In [31]:
# del thistuple # thistuple 지워져서 그런 이름 없다고 나옴
thistuple.clear()
thistuple

AttributeError: 'tuple' object has no attribute 'clear'

In [22]:
thisset = {"apple", "banana", "cherry"}
thisset.add("zis")
thisset

{'apple', 'banana', 'cherry', 'zis'}

In [23]:
tropical = {"pineapple", "papaya"}
thisset.update(tropical)
thisset # 출력이 오름차순일 뿐 실제로 인덱스 없음

{'apple', 'banana', 'cherry', 'papaya', 'pineapple', 'zis'}

In [25]:
thisset.clear()
thisset

set()

In [26]:
del thisset
thisset

NameError: name 'thisset' is not defined

In [46]:
thisdict = {1:24, 2:33}
mydict = dict(name="박하은")
print(thisdict, mydict)

{1: 24, 2: 33} {'name': '박하은'}

In [47]:
thisdict.items()

dict_items([(1, 24), (2, 33)])

In [48]:
thisdict.pop()

TypeError: pop expected at least 1 argument, got 0

In [52]:
thisdict.pop(2)

33

In [53]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [54]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [55]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [56]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [58]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [60]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [61]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
my_function(fname="Tobias", lname="Refsnes")

His last name is Refsnes

In [62]:
def my_function(country="Norway"):
    print("I am from " + country)
my_function("Sweden")
my_function()
my_function("Brazil")

I am from Sweden
I am from Norway
I am from Brazil

In [72]:
def tri_recursion(k):
    if k>0 :
        print("k는", k)
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result=0
    return result 
print("Recursion Example Results")
tri_recursion(6) # 21 두 번 나옴

Recursion Example Results
k는 6
k는 5
k는 4
k는 3
k는 2
k는 1
1
3
6
10
15
21

21