메소드 이름에 커서 두고 "Shift + Tab"하면 설명 뜸!

<h4>인덱싱, 슬라이싱

In [1]:
x = "Rome is not built in a day!"

In [2]:
x[0]

'R'

In [3]:
x[-1]

'!'

In [4]:
x[-6]

'a'

In [5]:
x[-12]

'l'

In [6]:
x[0:4]

'Rome'

In [7]:
x[12:]

'built in a day!'

In [8]:
x[:7]

'Rome is'

In [9]:
x[:]

'Rome is not built in a day!'

In [10]:
x[12:-7] # 12번부터 -8번의 값까지 가져옴

'built in'

<h4>리스트, 튜플, 딕셔너리

In [11]:
a=[1,2,3]
a

[1, 2, 3]

In [12]:
b=list(range(1,10,2))
b

[1, 3, 5, 7, 9]

- 리스트.append(요소) : 리스트의 끝에 요소 추가
- 리스트.insert(인덱스, 요소) : 리스트의 특정 인덱스에 요소 추가
- 리스트1.extend(리스트2) : 리스트1에 리스트2를 연결해 확장
- 리스트1 + 리스트2 : 리스트1과 리스트2를 서로 병합
- 리스트.remove(요소) : 리스트의 특정 값의 요소를 삭제
- 리스트.count('요소') : 리스트 중 특정 값을 가진 요소의 개수를 카운트
- 리스트.sort() : 리스트 내 요소를 오름차순으로 정렬
- 리스트.pop(인덱스) : 리스트 중 특정 인덱스의 요소를 삭제

In [20]:
a = ['red', 'green', 'blue']
a.append('yellow')
a

['red', 'green', 'blue', 'yellow']

In [21]:
a.insert(1, 'black') # 1번 인덱스에 추가 후 나머지는 뒤로 하나씩 밀림
a

['red', 'black', 'green', 'blue', 'yellow']

In [22]:
b = ['purple', 'white']
a.extend(b) # extend는 a에 변화를 줌 a에 값을 추가
a

['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']

In [23]:
c = a + b # 병합 +는 새로운 리스트 생성
print(c)

['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [24]:
d = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
d.remove(90) # 90이라는 요소를 삭제
d

[10, 20, 30, 40, 50, 60, 70, 80, 100]

In [25]:
list1 = ['a', 'bb', 'c', 'd','aaa', 'c', 'ddd', 'aaa',  'b', 'cc', 'd', 'aaa', ]
list1.count('aaa') # 요소의 개수

3

In [26]:
list2 = [1, -7, 5, 8, 3, 9, 11, 13]
list2.sort() # 기본 오름차순
list2

[-7, 1, 3, 5, 8, 9, 11, 13]

In [27]:
list2.sort(reverse=True) # 내림차순
list2

[13, 11, 9, 8, 5, 3, 1, -7]

In [30]:
d = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
d.pop(0) # 해당 인덱스의 값 삭제, 그냥 pop()하면 마지막 값 삭제됨
d

[20, 30, 40, 50, 60, 70, 80, 90, 100]

<hr>

In [31]:
t1 = ('banana', ' apple', 'kiwi')
t1

('banana', ' apple', 'kiwi')

In [32]:
t2 = 'banana', 'apple', 'kiwi'
t2

('banana', 'apple', 'kiwi')

In [33]:
# 튜플은 변환이 불가능 하기 때문에 에러 발생
t2[0] = 'watermelon'

TypeError: 'tuple' object does not support item assignment

<hr>

In [40]:
members = {'name':'안지영', 'age':30, 'email':'jiyoung@korea.com'}
members

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}

  - keys : 딕셔너리에 key만 모아서 반환
  - vlaues : 딕셔너리에 value만 모아서 반환
  - items : key, value쌍을 튜플로 묶은 값을 반환
  - clear : key,vallue 모두 지우기
  - get(키) : key(키)로 value 얻기
  - in : 해당 key가 딕셔너리 안에 있는지 조사하고자 하는 경우 사용

In [36]:
members.keys()

dict_keys(['name', 'age', 'email'])

In [37]:
members.values()

dict_values(['안지영', 30, 'jiyoung@korea.com'])

In [38]:
members.items()

dict_items([('name', '안지영'), ('age', 30), ('email', 'jiyoung@korea.com')])

In [42]:
members.get('name')

'안지영'

In [43]:
'name' in members # 이런 키가 있는지 없는지

True

In [45]:
'birth' in members

False

In [46]:
members.clear()
members

{}